.head{
    margin:0 auto;
    width:90%;
    font-size:3em;
    
    text-align:center;
    /* margin:0 auto; */
    font-weight: normal;
    text-decoration: underline ;
    margin-bottom: 2%;;
}
.scoreboard{
    text-align:center;
}
.setting{
    width:20%;
    float:right;
    margin-right: 1%;
}
/* .iconify{
    display:inline-block;
} */
.rese{
    display:inline-block;
    background-color: white;
    padding:4%;
    padding-right: 6%;
    padding-left: 6%;
    font-size:0.5em;
    border:1px solid red;
    border-radius: 10%;
    color:red;
    font-weight: lighter;
    transition: ease-in 0.1s;
}
.rese:hover{
    background-color: rgb(224, 18, 18);
    color:white;
}
.main{
    
    height:70%;
    width:90%;
    margin:0 auto;
    margin-top: 2%;
    border:2% solid;
    padding:2%;
    margin-top:0 !important;
    
}
.inner{
    height:25%;
    width:25%;
    padding:1%;
    margin:1%;
}
.team{
    font-size: 2em;
    display:inline-block;
    padding-left:0.5em;
    width:80%;
}
.far{
    padding:0.3em;
    transform: scale(1.5) translateY(-0.2em);
    
}
.far:hover{
    cursor: pointer;
    border:1px solid grey;
    border-radius:10%;
}
.score{
    font-weight: normal;
    text-align:center;
    font-size:400%;
    height:4
    6%;
    width:80%;
    margin:0 auto;
    transform:translateY(-0.3em);
}
.btns{
    width:80%;
    margin:0 auto;
    text-align: center;
    transform:translateY(-1.6em);
}
.btn{
    padding:0.5em 1em !important;
    font-size:1.2em !important;
    margin-left:0.3em;
}
/* .addteam{
    text-align: end;
    
} */

.iconify:hover{
    
    cursor: pointer;
    border:2px solid grey;
    border-radius:10%;
}

@media (max-width:650px){
    .team{
        font-size: 1.5em;
    display:inline-block;
    padding-left:0.5em;
    width:80%;
    }
    .far{
        transform: scale(1) translateY(-0.25em);
        
    }
    .score{
        font-weight: normal;
        text-align:center;
        font-size:200%;
        height:4
        6%;
        width:80%;
        margin:0 auto;
        transform:translateY(-0.3em);
    }
    .btns{
        width:80%;
        margin:0 auto;
        text-align: center;
        transform:translateY(-1em);
    }
    .btn{
        padding:0.5em 1em !important;
        font-size:0.9em !important;
        margin-left:0.3em;
    }
}
.button-loading {
    position:relative;
    width:200px;
    height: 200px;
}
.button-loading .txt{
    visibility: hidden;
    opacity: 0;

}
.button-loading::after {
    content: "";
    /* for center align */
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    /* only top of border is visible */
    border: 5px solid transparent;
    border-top-color: #fff; 
    border-radius: 50%;
    /* you can also use linear instead of ease */
    animation: button-loading-spinner 1s ease infinite;

}   


@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

