*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --color-primary: #0AAC85;
    --color-primary-light: #09CFA0;
    --color-primary-light-2: #B6FFED;
    --color-secondary: #4FDBFA;
    --color-secondary-light : #E0F9FF;
    --color-black: #000;
    --color-white: #fff;
    --color-light: #F3FFFC;
}

body{
    background-image: url(background.png);
    /* background-size: cover; */
    font-family: 'Poppins', sans-serif;   
    font-weight: 300;
    /* font-family: 'Montserrat', sans-serif; */
    margin: auto 0;
}
header{
    margin: 1rem 2.6rem;

}
.logo {
    display: inline-block;
    align-self: flex-start;
    /* -webkit-font-smoothing: antia    lised; */
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .2rem;
}
.logo__first {
    color: var(--color-primary);
    margin-right: .2rem;
}
.nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.innerflex {
    display: inline-flex;
    justify-content: space-around;
    flex: 0 0 30rem;
}

.nav__link, .nav__button {
    align-self: center;
    display: inline-block;
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: .5rem 1rem;
}

.btn, .btn:visited, .btn:link{
    display: inline-block;
    padding: .5rem 2.6rem;
    text-decoration: none;
    background-color: var(--color-primary-light);
    color: var(--color-white)  ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 1rem;
    letter-spacing: .2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .2s;

}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

}
.btn:active {
    transform: translateY(-1px);
}

main {
    display: flex;
    margin: 3rem 3rem;
}
.title {
    flex-grow: 1;
}
.title__primary {
    margin-top: 0;
    
    margin-bottom: .8rem;
    text-transform: capitalize;
    letter-spacing: .2rem;
    font-size: 3rem;
    font-weight: 700;

}
.title__primary-color {
    display: block;
    color: var(--color-primary);
    letter-spacing: .2rem;
}
.title__secondary {
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: 0;
}

.item {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.item1 {
    background-color: var(--color-secondary);
    margin-right: .2rem;
}
.item2 {
    background-color: var(--color-primary-light);
}
.createbox {
   margin: 2rem .2rem; 
}
.create__link {
    padding: .8rem 3rem;
    font-size: 1.2rem;
}
.image {
    flex-grow: 1;
    flex: 0 0 40%;
    margin-right: 2rem;
}
.image__box-blue {
    width: 100%;
    height: 85%;
    background-color: var(--color-secondary);
    border-radius: .1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    z-index: 5;

}
.image__box-green {
    display: inline-block;
    width: 94%;
    height: 92%;
    background-color: var(--color-primary-light);
    margin-top: .4rem;
    margin-left: .4rem;
    border-radius: .1rem;
    box-shadow: 0 1rem 2rem rgba(13, 13, 14, 0.25) ;
    z-index: 6;

}
.image__box-cream {
    display: inline-block;
    position: relative;
    width: 94%;
    height: 90%;
    background-color: var(--color-light);
    margin-top: .6rem;
    margin-left: .6rem;
    border-radius: .1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    z-index: 7;

}
.pin {
    position: absolute;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    transform: translate(1rem, 1rem);
    border-radius: 50%;
    background-color:rgb(116, 115, 115);
}
.illustration {
    position: absolute;
    display: inline-block;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(116, 115, 115);
    font-size: 3rem;
    line-height: 1.2rem;
    font-family: sans-serif;
    font-weight: 700;

}
footer {
    display: flex;
    margin-top: 6rem;
}
.reviews {
    flex: 0 0 50%;
    background-color: var(--color-secondary-light);
}
.review {
    display: inline-block;
    position: relative;
    width: 70%;
    background-color: var(--color-white);
    margin: 2rem;
}
.review1 {
       margin-left: 5rem;
}
.review2 {
    margin-left: 8rem;
}
.review__person {
    position: absolute;
    width: 6.4rem;
    height: 6.4rem;
    overflow: hidden;
    border-radius: 50%;
    top: 1rem;
    left: -3rem;
}
.person1 {
    background-image: url(person1.png);
    background-size: cover;
    background-position: center;
}
.person2 {
    background-image: url(person2.png);
    background-size: cover;
    background-position: center;
}
.review__comment {
    position: relative;
    top: 0;
    left:7rem;
    display: inline-block;
    text-align: right;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.4rem;

}
.covers {
    flex: 0 0 50%;
    background-color: var(--color-primary-light-2);
}
.covers__title-primary{
    letter-spacing: .2rem;
    font-weight: 700;
    margin-left: 2rem;
    font-size: 2rem;
    margin-bottom: 0;
}
.covers__title-secondary{
    letter-spacing: .2rem;
    font-weight: 400;
    text-transform: capitalize  ;
    margin-left: 2rem;
    margin-top: .2rem;
    font-size: 1.4rem;
}