<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify: myTreasury</title>
</head>
<body>
    <form action="/user/editform/<%= usernam %>" method="POST">
        <section>
            <h4>verify that it is you-</h4>
            <div>
                <div><label for="username">Username</label></div>
                <div><input type="text" name="username" id="username" value="<%= usernam %>" disabled placeholder="<%= usernam %> "></div>
            </div>
            <div>
                <div><label for="password">password</label></div>
                <div><input type="password" name="password" id="password" placeholder="enter password here" required></div>
            </div>
        </section>
    </form>
</body>
</html>